In [1]:
import pandas as pd

In [2]:
import pandas_datareader.data as dr

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
import datetime

In [4]:
start = datetime.datetime(2019,10,1)

In [5]:
end = datetime.datetime(2020,9,5)

In [6]:
sam = dr.DataReader('005930.KS', 'yahoo',start, end)

In [7]:
sam

               High      Low     Open    Close      Volume  Adj Close
Date
2019-10-01  49100.0  48650.0  48900.0  48850.0   6206035.0    48850.0
2019-10-02  48400.0  47600.0  48350.0  47600.0   8382463.0    47600.0
2019-10-04  48650.0  47350.0  47400.0  48000.0   9331695.0    48000.0
2019-10-07  48700.0  47650.0  48350.0  47750.0   7047273.0    47750.0
2019-10-08  49000.0  47600.0  47900.0  48900.0  14239367.0    48900.0
...             ...      ...      ...      ...         ...        ...
2020-08-31  56100.0  54000.0  56000.0  54000.0  32671367.0    54000.0
2020-09-01  54800.0  54100.0  54100.0  54200.0  19363117.0    54200.0
2020-09-02  55100.0  54100.0  54600.0  54400.0  16905723.0    54400.0
2020-09-03  56700.0  55500.0  55600.0  56400.0  28384920.0    56400.0
2020-09-04  55800.0  55100.0  55200.0  55600.0  22139109.0    55600.0

[231 rows x 6 columns]

In [8]:
sam.shape

(231, 6)

In [9]:
sam.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 231 entries, 2019-10-01 to 2020-09-04
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       231 non-null    float64
 1   Low        231 non-null    float64
 2   Open       231 non-null    float64
 3   Close      231 non-null    float64
 4   Volume     231 non-null    float64
 5   Adj Close  231 non-null    float64
dtypes: float64(6)
memory usage: 12.6 KB

In [10]:
sam.reset_index()

          Date     High      Low     Open    Close      Volume  Adj Close
0   2019-10-01  49100.0  48650.0  48900.0  48850.0   6206035.0    48850.0
1   2019-10-02  48400.0  47600.0  48350.0  47600.0   8382463.0    47600.0
2   2019-10-04  48650.0  47350.0  47400.0  48000.0   9331695.0    48000.0
3   2019-10-07  48700.0  47650.0  48350.0  47750.0   7047273.0    47750.0
4   2019-10-08  49000.0  47600.0  47900.0  48900.0  14239367.0    48900.0
..         ...      ...      ...      ...      ...         ...        ...
226 2020-08-31  56100.0  54000.0  56000.0  54000.0  32671367.0    54000.0
227 2020-09-01  54800.0  54100.0  54100.0  54200.0  19363117.0    54200.0
228 2020-09-02  55100.0  54100.0  54600.0  54400.0  16905723.0    54400.0
229 2020-09-03  56700.0  55500.0  55600.0  56400.0  28384920.0    56400.0
230 2020-09-04  55800.0  55100.0  55200.0  55600.0  22139109.0    55600.0

[231 rows x 7 columns]

In [11]:
# 코로나 확진자
pd.read_csv('19_4_1.csv')

     Unnamed: 0          날짜  일일확진자수
0             0  2020-09-05     168
1             1  2020-09-04     198
2             2  2020-09-03     195
3             3  2020-09-02     267
4             4  2020-09-01     235
..          ...         ...     ...
336         336  2019-10-05       0
337         337  2019-10-04       0
338         338  2019-10-03       0
339         339  2019-10-02       0
340         340  2019-10-01       0

[341 rows x 3 columns]

In [12]:
df1 = pd.read_csv('19_4_1.csv')
df1['날짜'] = df1['날짜'].astype('datetime64[ns]')
df2 = df1.set_index('날짜')

In [13]:
df2

            Unnamed: 0  일일확진자수
날짜
2020-09-05           0     168
2020-09-04           1     198
2020-09-03           2     195
2020-09-02           3     267
2020-09-01           4     235
...                ...     ...
2019-10-05         336       0
2019-10-04         337       0
2019-10-03         338       0
2019-10-02         339       0
2019-10-01         340       0

[341 rows x 2 columns]

In [14]:
data1 = df2[['일일확진자수']]

In [15]:
data1 = data1.sort_values(by=['날짜'], ascending=[True])

In [16]:
data1

            일일확진자수
날짜
2019-10-01       0
2019-10-02       0
2019-10-03       0
2019-10-04       0
2019-10-05       0
...            ...
2020-09-01     235
2020-09-02     267
2020-09-03     195
2020-09-04     198
2020-09-05     168

[341 rows x 1 columns]

In [17]:
data2 = pd.DataFrame(sam)

In [18]:
data2

               High      Low     Open    Close      Volume  Adj Close
Date
2019-10-01  49100.0  48650.0  48900.0  48850.0   6206035.0    48850.0
2019-10-02  48400.0  47600.0  48350.0  47600.0   8382463.0    47600.0
2019-10-04  48650.0  47350.0  47400.0  48000.0   9331695.0    48000.0
2019-10-07  48700.0  47650.0  48350.0  47750.0   7047273.0    47750.0
2019-10-08  49000.0  47600.0  47900.0  48900.0  14239367.0    48900.0
...             ...      ...      ...      ...         ...        ...
2020-08-31  56100.0  54000.0  56000.0  54000.0  32671367.0    54000.0
2020-09-01  54800.0  54100.0  54100.0  54200.0  19363117.0    54200.0
2020-09-02  55100.0  54100.0  54600.0  54400.0  16905723.0    54400.0
2020-09-03  56700.0  55500.0  55600.0  56400.0  28384920.0    56400.0
2020-09-04  55800.0  55100.0  55200.0  55600.0  22139109.0    55600.0

[231 rows x 6 columns]

In [19]:
data_1 = pd.DataFrame(data1['일일확진자수'])

In [20]:
data_2 = pd.DataFrame(data2['Volume'])

In [21]:
result1 = pd.concat([data_1,data_2], axis=1)

In [22]:
result1

            일일확진자수      Volume
2019-10-01       0   6206035.0
2019-10-02       0   8382463.0
2019-10-03       0         NaN
2019-10-04       0   9331695.0
2019-10-05       0         NaN
...            ...         ...
2020-09-01     235  19363117.0
2020-09-02     267  16905723.0
2020-09-03     195  28384920.0
2020-09-04     198  22139109.0
2020-09-05     168         NaN

[341 rows x 2 columns]

In [23]:
corr = result1.corr(method='pearson')

In [24]:
corr

          일일확진자수    Volume
일일확진자수  1.000000  0.288224
Volume  0.288224  1.000000

In [25]:
# 종가
data_close = pd.DataFrame(data2['Close'])

In [26]:
result2 = pd.concat([data_1, data_close], axis=1)

In [27]:
result2

            일일확진자수    Close
2019-10-01       0  48850.0
2019-10-02       0  47600.0
2019-10-03       0      NaN
2019-10-04       0  48000.0
2019-10-05       0      NaN
...            ...      ...
2020-09-01     235  54200.0
2020-09-02     267  54400.0
2020-09-03     195  56400.0
2020-09-04     198  55600.0
2020-09-05     168      NaN

[341 rows x 2 columns]

In [28]:
corr = result2.corr(method='pearson')

In [29]:
corr

          일일확진자수     Close
일일확진자수  1.000000  0.122976
Close   0.122976  1.000000

In [41]:
# 시가
data_open = pd.DataFrame(data2['Open'])

In [42]:
result3 = pd.concat([data_1, data_open], axis=1)

In [43]:
result3

            일일확진자수     Open
2019-10-01       0  48900.0
2019-10-02       0  48350.0
2019-10-03       0      NaN
2019-10-04       0  47400.0
2019-10-05       0      NaN
...            ...      ...
2020-09-01     235  54100.0
2020-09-02     267  54600.0
2020-09-03     195  55600.0
2020-09-04     198  55200.0
2020-09-05     168      NaN

[341 rows x 2 columns]

In [44]:
corr = result3.corr(method='pearson')

In [45]:
corr

          일일확진자수      Open
일일확진자수  1.000000  0.140416
Open    0.140416  1.000000