In [1]:
import pandas as pd

In [2]:
# 호텔신라 주가
import pandas_datareader.data as dr

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
import datetime

In [4]:
start = datetime.datetime(2019,10,1)

In [5]:
end = datetime.datetime(2020,9,5)

In [6]:
sh = dr.DataReader('008770.KS', 'yahoo',start, end)

In [7]:
sh

               High      Low     Open    Close     Volume  Adj Close
Date
2019-10-01  86000.0  82100.0  85800.0  82500.0   653709.0    82500.0
2019-10-02  82900.0  80700.0  82700.0  81000.0   541381.0    81000.0
2019-10-04  81500.0  79200.0  81000.0  79800.0   435223.0    79800.0
2019-10-07  81500.0  79800.0  80400.0  80200.0   236583.0    80200.0
2019-10-08  81300.0  80200.0  80400.0  80800.0   266694.0    80800.0
...             ...      ...      ...      ...        ...        ...
2020-08-31  71600.0  70300.0  71600.0  70300.0   348867.0    70300.0
2020-09-01  73400.0  70300.0  70700.0  72500.0   696976.0    72500.0
2020-09-02  77000.0  73600.0  73700.0  75800.0  1333521.0    75800.0
2020-09-03  77800.0  75100.0  76700.0  75300.0  1086752.0    75300.0
2020-09-04  75300.0  73500.0  73900.0  74600.0   596400.0    74600.0

[231 rows x 6 columns]

In [7]:
sh.shape

In [8]:
sh.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 231 entries, 2019-10-01 to 2020-09-04
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       231 non-null    float64
 1   Low        231 non-null    float64
 2   Open       231 non-null    float64
 3   Close      231 non-null    float64
 4   Volume     231 non-null    float64
 5   Adj Close  231 non-null    float64
dtypes: float64(6)
memory usage: 12.6 KB

In [9]:
sh.reset_index()

          Date     High      Low     Open    Close     Volume  Adj Close
0   2019-10-01  86000.0  82100.0  85800.0  82500.0   653709.0    82500.0
1   2019-10-02  82900.0  80700.0  82700.0  81000.0   541381.0    81000.0
2   2019-10-04  81500.0  79200.0  81000.0  79800.0   435223.0    79800.0
3   2019-10-07  81500.0  79800.0  80400.0  80200.0   236583.0    80200.0
4   2019-10-08  81300.0  80200.0  80400.0  80800.0   266694.0    80800.0
..         ...      ...      ...      ...      ...        ...        ...
226 2020-08-31  71600.0  70300.0  71600.0  70300.0   348867.0    70300.0
227 2020-09-01  73400.0  70300.0  70700.0  72500.0   696976.0    72500.0
228 2020-09-02  77000.0  73600.0  73700.0  75800.0  1333521.0    75800.0
229 2020-09-03  77800.0  75100.0  76700.0  75300.0  1086752.0    75300.0
230 2020-09-04  75300.0  73500.0  73900.0  74600.0   596400.0    74600.0

[231 rows x 7 columns]

In [10]:
# 코로나 확진자
pd.read_csv('19_4_1.csv')

     Unnamed: 0          날짜  일일확진자수
0             0  2020-09-05     168
1             1  2020-09-04     198
2             2  2020-09-03     195
3             3  2020-09-02     267
4             4  2020-09-01     235
..          ...         ...     ...
336         336  2019-10-05       0
337         337  2019-10-04       0
338         338  2019-10-03       0
339         339  2019-10-02       0
340         340  2019-10-01       0

[341 rows x 3 columns]

In [43]:
df1 = pd.read_csv('19_4_1.csv')
df1['날짜'] = df1['날짜'].astype('datetime64[ns]')
df2 = df1.set_index('날짜')

In [44]:
df2

            Unnamed: 0  일일확진자수
날짜
2020-09-05           0     168
2020-09-04           1     198
2020-09-03           2     195
2020-09-02           3     267
2020-09-01           4     235
...                ...     ...
2019-10-05         336       0
2019-10-04         337       0
2019-10-03         338       0
2019-10-02         339       0
2019-10-01         340       0

[341 rows x 2 columns]

In [69]:
data1 = df2[['일일확진자수']]

In [72]:
data1 = data1.sort_values(by=['날짜'], ascending=[True])

In [73]:
data1

            일일확진자수
날짜
2019-10-01       0
2019-10-02       0
2019-10-03       0
2019-10-04       0
2019-10-05       0
...            ...
2020-09-01     235
2020-09-02     267
2020-09-03     195
2020-09-04     198
2020-09-05     168

[341 rows x 1 columns]

In [74]:
data2 = pd.DataFrame(sh)

In [75]:
data2

               High      Low     Open    Close     Volume  Adj Close
Date
2019-10-01  86000.0  82100.0  85800.0  82500.0   653709.0    82500.0
2019-10-02  82900.0  80700.0  82700.0  81000.0   541381.0    81000.0
2019-10-04  81500.0  79200.0  81000.0  79800.0   435223.0    79800.0
2019-10-07  81500.0  79800.0  80400.0  80200.0   236583.0    80200.0
2019-10-08  81300.0  80200.0  80400.0  80800.0   266694.0    80800.0
...             ...      ...      ...      ...        ...        ...
2020-08-31  71600.0  70300.0  71600.0  70300.0   348867.0    70300.0
2020-09-01  73400.0  70300.0  70700.0  72500.0   696976.0    72500.0
2020-09-02  77000.0  73600.0  73700.0  75800.0  1333521.0    75800.0
2020-09-03  77800.0  75100.0  76700.0  75300.0  1086752.0    75300.0
2020-09-04  75300.0  73500.0  73900.0  74600.0   596400.0    74600.0

[231 rows x 6 columns]

In [76]:
data_1 = pd.DataFrame(data1['일일확진자수'])

In [77]:
data_2 = pd.DataFrame(data2['Volume'])

In [78]:
result1 = pd.concat([data_1,data_2], axis=1)

In [79]:
result1

            일일확진자수     Volume
2019-10-01       0   653709.0
2019-10-02       0   541381.0
2019-10-03       0        NaN
2019-10-04       0   435223.0
2019-10-05       0        NaN
...            ...        ...
2020-09-01     235   696976.0
2020-09-02     267  1333521.0
2020-09-03     195  1086752.0
2020-09-04     198   596400.0
2020-09-05     168        NaN

[341 rows x 2 columns]

In [82]:
corr = result1.corr(method='pearson')

In [84]:
corr

          일일확진자수    Volume
일일확진자수  1.000000  0.054106
Volume  0.054106  1.000000

In [89]:
# 종가
data_close = pd.DataFrame(data2['Close'])

In [90]:
result2 = pd.concat([data_1, data_close], axis=1)

In [91]:
result2

            일일확진자수    Close
2019-10-01       0  82500.0
2019-10-02       0  81000.0
2019-10-03       0      NaN
2019-10-04       0  79800.0
2019-10-05       0      NaN
...            ...      ...
2020-09-01     235  72500.0
2020-09-02     267  75800.0
2020-09-03     195  75300.0
2020-09-04     198  74600.0
2020-09-05     168      NaN

[341 rows x 2 columns]

In [92]:
corr = result2.corr(method='pearson')

In [93]:
corr

          일일확진자수     Close
일일확진자수  1.000000 -0.206266
Close  -0.206266  1.000000

In [104]:
# 시가
data_open = pd.DataFrame(data2['Open'])

In [105]:
result3 = pd.concat([data_1, data_open], axis=1)

In [106]:
result3

            일일확진자수     Open
2019-10-01       0  85800.0
2019-10-02       0  82700.0
2019-10-03       0      NaN
2019-10-04       0  81000.0
2019-10-05       0      NaN
...            ...      ...
2020-09-01     235  70700.0
2020-09-02     267  73700.0
2020-09-03     195  76700.0
2020-09-04     198  73900.0
2020-09-05     168      NaN

[341 rows x 2 columns]

In [107]:
corr = result3.corr(method='pearson')

In [108]:
corr

          일일확진자수      Open
일일확진자수  1.000000 -0.197311
Open   -0.197311  1.000000