# Pandas

In [3]:
import pandas as pd

In [5]:
df1 = pd.read_csv('sample_data_001.csv')

In [6]:
df1.shape

(51304, 15)

In [8]:
df1.head(3)

       고객ID 판매유형  계약유형    유통경로         계약일  ...  연체건수 연체여부 신용등급   결제은행 해약여부
0  66758234   렌탈    일반  서비스 방문  10-20-2014  ...     0   없음  9.0  새마을금고   정상
1  66755948   렌탈  교체렌탈  서비스 방문  10-20-2014  ...     0   없음  2.0   현대카드   정상
2  66756657   렌탈    일반  홈쇼핑/방송  10-20-2014  ...     0   없음  8.0   우리은행   정상

[3 rows x 15 columns]

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51304 entries, 0 to 51303
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   고객ID    51304 non-null  int64
 1   판매유형    51300 non-null  object
 2   계약유형    51303 non-null  object
 3   유통경로    51304 non-null  object
 4   계약일     51304 non-null  object
 5   계약기간    51304 non-null  int64
 6   납부유형    51304 non-null  object
 7   제품군     51303 non-null  object
 8   월랜탈비용   51304 non-null  int64
 9   계약상태    51304 non-null  object
 10  연체건수    51304 non-null  int64
 11  연체여부    51302 non-null  object
 12  신용등급    42521 non-null  float64
 13  결제은행    48544 non-null  object
 14  해약여부    51279 non-null  object
dtypes: float64(1), int64(4), object(10)
memory usage: 5.9+ MB

In [10]:
df1.describe()

               고객ID          계약기간          월랜탈비용          연체건수          신용등급
count  5.130400e+04  51304.000000   51304.000000  51304.000000  42521.000000
mean   6.266457e+07     55.638527   93994.980021      0.161040      3.428894
std    1.216115e+07     12.010117   15305.147334      1.122356      2.213590
min    2.568798e+07     12.000000   54603.000000     -1.000000      0.000000
25%    6.643149e+07     60.000000   81900.000000      0.000000      1.000000
50%    6.676578e+07     60.000000   96900.000000      0.000000      3.000000
75%    6.678161e+07     60.000000   98400.000000      0.000000      5.000000
max    6.696986e+07     60.000000  215700.000000     15.000000     10.000000

In [13]:
df1['월랜탈비용']

0         96900
1        102900
2         96900
3         66900
4         66900
          ...
51299     96900
51300     96900
51301    120900
51302     96900
51303     96900
Name: 월랜탈비용, Length: 51304, dtype: int64

In [12]:
df1[['월랜탈비용']]

        월랜탈비용
0       96900
1      102900
2       96900
3       66900
4       66900
...       ...
51299   96900
51300   96900
51301  120900
51302   96900
51303   96900

[51304 rows x 1 columns]

In [15]:
df2 = df1[['월랜탈비용','신용등급','해약여부','유통경로']]

In [16]:
df2.tail(100)

        월랜탈비용  신용등급 해약여부    유통경로
51204   96900   NaN   해약    렌탈총판
51205   54603   NaN   정상    하이마트
51206   96900   1.0   정상  홈쇼핑/방송
51207   54603   NaN   해약    하이마트
51208   96900   4.0   해약    영업방판
...       ...   ...  ...     ...
51299   96900   NaN   정상   R관리방판
51300   96900   8.0   해약    영업방판
51301  120900   1.0   해약  홈쇼핑/방송
51302   96900   2.0   정상    렌탈총판
51303   96900   8.0   해약    하이마트

[100 rows x 4 columns]

In [17]:
df2.iloc[10000:30000]

        월랜탈비용  신용등급 해약여부    유통경로
10000   90900   6.0   정상  서비스 방문
10001  120900   8.0   정상    영업방판
10002   87900   2.0   정상  홈쇼핑/방송
10003   87900   3.0   정상  홈쇼핑/방송
10004  102900   7.0   정상      일반
...       ...   ...  ...     ...
29995   81900   2.0   정상  홈쇼핑/방송
29996   81900   2.0   정상  홈쇼핑/방송
29997  105900   1.0   정상  서비스 방문
29998  109200   5.0   정상  서비스 방문
29999   96900   6.0   정상  홈쇼핑/방송

[20000 rows x 4 columns]

In [18]:
df1.sort_values(by='월랜탈비용')

           고객ID 판매유형  계약유형  유통경로         계약일  ...  연체건수 연체여부 신용등급   결제은행 해약여부
50112  66797322  멤버십  멤버십B  하이마트  01-31-2015  ...     0   없음  NaN    NaN   정상
39568  66790592  멤버십  멤버십B  하이마트  01-12-2015  ...     0   없음  NaN    NaN   정상
46480  66795425  멤버십  멤버십B  하이마트  01-24-2015  ...     0   없음  NaN    NaN   정상
48627  66797009  멤버십  멤버십B  하이마트  01-28-2015  ...     0   없음  NaN    NaN   정상
37891  66786553  멤버십  멤버십B  하이마트  01-08-2015  ...     0   없음  NaN    NaN   정상
...         ...  ...   ...   ...         ...  ...   ...  ...  ...    ...  ...
44835  25732681   렌탈  프로모션  영업방판  01-21-2015  ...     2   있음  NaN    우체국   정상
38494  25734005   렌탈  프로모션  영업방판  01-09-2015  ...     0   없음  1.0  농협중앙회   정상
37519  25733781   렌탈  프로모션  렌탈총판  01-07-2015  ...     0   없음  NaN   기업은행   정상
49894  25731710   렌탈  프로모션  영업방판  01-30-2015  ...     0   없음  NaN    NaN   정상
28144  25704137   렌탈  프로모션  R빌리미  12-10-2014  ...     0   없음  NaN   국민은행   정상

[51304 rows x 15 columns]

In [25]:
df1.sort_values(by='연체건수', ascending=False).head(100). to_excel('customer.xlsx')

In [28]:
df1.sort_values(by=['연체건수', '신용등급'], ascending=[False,True])

           고객ID 판매유형    계약유형    유통경로         계약일  ...  연체건수 연체여부 신용등급    결제은행 해약여부
3090   66679489   렌탈    프로모션  서비스 방문  10-25-2014  ...    15   있음  4.0    우리은행   정상
3091   66679489   렌탈    프로모션  서비스 방문  10-25-2014  ...    15   있음  4.0    우리은행   정상
5842   66762531   렌탈  통합 패키지    렌탈총판  10-30-2014  ...    15   있음  5.0    하나은행   정상
5843   66762531   렌탈  통합 패키지    렌탈총판  10-30-2014  ...    15   있음  5.0    하나은행   정상
344    66689896   렌탈    프로모션  서비스 방문  10-21-2014  ...    15   있음  7.0    신한은행   정상
...         ...  ...     ...     ...         ...  ...   ...  ...  ...     ...  ...
1920   66757694   렌탈    프로모션  서비스 방문  10-23-2014  ...    -1   없음  5.0  농협회원조합   정상
25637  66776702   렌탈    프로모션  서비스 방문  12-05-2014  ...    -1   없음  5.0  농협회원조합   정상
1816   66759728   렌탈      일반    영업방판  10-23-2014  ...    -1   없음  NaN    국민은행   정상
25678  25737422   렌탈  통합 패키지  홈쇼핑/방송  12-05-2014  ...    -1   없음  NaN    신한은행   정상
25679  25737422   렌탈  통합 패키지  홈쇼핑/방송  12-05-2014  ...    -1   없음  NaN    신한은행   정상

[51304 rows x 15 columns]

In [30]:
df1['결제은행'].unique()

array(['새마을금고', '현대카드', '우리은행', '농협회원조합', '농협중앙회', '롯데카드', '신한은행', '국민카드',
       '우체국', '국민은행', '기업은행', 'SC제일은행', nan, '대구은행', '하나은행', '신한카드',
       '삼성카드', '광주은행', '외환은행', '부산은행', 'BC카드', '씨티은행', '신협중앙회', '경남은행',
       '미래에셋증권', '외환카드', '수협중앙회', '유안타증권', '전북은행', '상호저축은행', '대신증권',
       '산업은행', '현대증권', '산림조합중앙회', '제주은행', '삼성증권', '하나대투증권', 'SK증권',
       '수협카드', '한국투자증권', '신한금융투자', '하나SK', 'NH농협카드', '메리츠종합금융증권',
       '하이투자증권', '우리카드', '대우증권', '씨티카드'], dtype=object)

In [32]:
df1['결제은행'].value_counts()

롯데카드         9518
농협회원조합       6278
국민은행         6002
농협중앙회        3899
신한은행         3522
우리은행         3386
기업은행         1963
신한카드         1533
하나은행         1446
국민카드         1311
BC카드         1264
새마을금고         964
부산은행          888
삼성카드          884
현대카드          876
대구은행          746
우체국           717
외환은행          586
외환카드          530
경남은행          442
SC제일은행        439
광주은행          347
신협중앙회         341
전북은행          195
씨티은행          162
수협중앙회         160
제주은행           40
유안타증권          27
산업은행           23
현대증권           11
삼성증권            7
하나SK            6
미래에셋증권          5
신한금융투자          4
한국투자증권          4
NH농협카드          4
우리카드            3
대우증권            2
하나대투증권          1
메리츠종합금융증권       1
수협카드            1
상호저축은행          1
씨티카드            1
SK증권            1
하이투자증권          1
산림조합중앙회         1
대신증권            1
Name: 결제은행, dtype: int64

In [34]:
df1['결제은행'] == '롯데카드'

0        False
1        False
2        False
3        False
4        False
         ...
51299     True
51300     True
51301    False
51302    False
51303    False
Name: 결제은행, Length: 51304, dtype: bool

In [37]:
cond1 = (df1['결제은행'] == '롯데카드')
cond2 = (df1['월랜탈비용'] >=100000)
df1.loc[cond1 & cond2].sort_values(by='계약기간',ascending=False).head(100)

           고객ID 판매유형    계약유형    유통경로         계약일  ...  연체건수 연체여부 신용등급  결제은행 해약여부
8      66758007   렌탈      일반  서비스 방문  10-20-2014  ...     0   없음  2.0  롯데카드   정상
32554  66783229   렌탈      일반    렌탈총판  12-19-2014  ...     0   없음  2.0  롯데카드   정상
32533  66782599   렌탈    프로모션  서비스 방문  12-19-2014  ...     0   없음  1.0  롯데카드   정상
32532  66782599   렌탈    프로모션  서비스 방문  12-19-2014  ...     0   없음  1.0  롯데카드   정상
32530  66782779   렌탈    프로모션  서비스 방문  12-19-2014  ...     0   없음  2.0  롯데카드   정상
...         ...  ...     ...     ...         ...  ...   ...  ...  ...   ...  ...
30041  66781461   렌탈    프로모션    렌탈총판  12-13-2014  ...     0   없음  1.0  롯데카드   정상
29938  66776228   렌탈  통합 패키지    영업방판  12-13-2014  ...     0   없음  1.0  롯데카드   정상
30891  66782109   렌탈    프로모션    렌탈총판  12-16-2014  ...     0   없음  3.0  롯데카드   정상
30929  66781921   렌탈    프로모션  서비스 방문  12-16-2014  ...     0   없음  4.0  롯데카드   정상
31667  66819376   렌탈    프로모션    렌탈총판  12-17-2014  ...     0   없음  4.0  롯데카드   해약

[100 rows x 15 columns]

In [38]:
cond3 = (df1['결제은행']=='롯데카드')
cond4 = (df1['결제은행']=='현대카드')

df1.loc[cond3 | cond4]

           고객ID 판매유형    계약유형    유통경로         계약일  ...  연체건수 연체여부 신용등급  결제은행 해약여부
1      66755948   렌탈    교체렌탈  서비스 방문  10-20-2014  ...     0   없음  2.0  현대카드   정상
6      66751017   렌탈  통합 패키지  홈쇼핑/방송  10-20-2014  ...     0   없음  1.0  롯데카드   정상
7      66751017   렌탈  통합 패키지  홈쇼핑/방송  10-20-2014  ...     0   없음  1.0  롯데카드   정상
8      66758007   렌탈      일반  서비스 방문  10-20-2014  ...     0   없음  2.0  롯데카드   정상
12     66355286   렌탈    프로모션  서비스 방문  10-20-2014  ...     0   없음  7.0  현대카드   정상
...         ...  ...     ...     ...         ...  ...   ...  ...  ...   ...  ...
51295  66799197   렌탈    프로모션    영업방판  02-03-2015  ...     0   없음  1.0  롯데카드   해약
51296  66792778   렌탈      일반  홈쇼핑/방송  02-03-2015  ...     0   없음  2.0  롯데카드   정상
51298  66796621  멤버십    멤버십B   R관리방판  02-03-2015  ...     0   없음  NaN  롯데카드   정상
51299  66579515  NaN    프로모션   R관리방판  02-03-2015  ...     0   없음  NaN  롯데카드   정상
51300  66799558   렌탈      일반    영업방판  02-03-2015  ...     0   없음  8.0  롯데카드   해약

[10394 rows x 15 columns]

In [44]:
df1.pivot_table(index=['유통경로','제품군'],values=['월랜탈비용','연체건수'], aggfunc='sum') # index 별로 속성값의 평균을 보여줌, aggfunc='sum'을 붙임으로써 다른 연산치를 나타낼 수 있음

                연체건수      월랜탈비용
유통경로    제품군
R관리방판   DES-1    486  315571059
        DES-2    143   71563380
        DES-3A   169   51439200
        DES-R4     2    4650300
        ERA       54   10132500
...              ...        ...
홈쇼핑/인터넷 DES-1     15   11224800
        DES-2      8    4552500
홈플러스    DES-1     43   22010700
        DES-2      0     350100
        DES-R4     0     144900

[77 rows x 2 columns]